<form autocomplete="off">

	<div class="form-group">
		<input style="display: none;" type="text" name="bonus" value="{{attribute.bonus}}" data-dtype="Number" />
	</div>
	<div class="form-group">
		<input style="display: none;" type="text" name="penalty" value="{{attribute.penalty}}" data-dtype="Number" />
	</div>

	<fieldset>
		{{#if (eq rollType "test")}}
			<div class="flexrow">
				<legend>{{localize "WUTC.Difficulty"}}</legend>
				<input type="radio" id="2d6" name="difficulty" value="2" data-dtype="Number" checked />
				<label for="2d6">2d6</label>
				<input type="radio" id="3d6" name="difficulty" value="3" data-dtype="Number" />
				<label for="3d6">3d6</label>
				<input type="radio" id="4d6" name="difficulty" value="4" data-dtype="Number" />
				<label for="4d6">4d6</label>
				<input type="radio" id="5d6" name="difficulty" value="5" data-dtype="Number" />
				<label for="5d6">5d6</label>
			</div>
			<hr />
		{{/if}}
		{{#if (eq rollType "attack")}}
			{{#if attribute.targets.length}}
				<div class="form-group">
					<label>{{localize "WUTC.Target"}}</label>
					<select name="target">
						{{selectOptions attribute.targets nameAttr="id" labelAttr="name"}}
					</select>
				</div>
			{{else}}
				<div class="warning red">{{localize "WUTC.WarningAttackNoTargets"}}</div>
			{{/if}}
			{{#if hasProperties.toggleable}}
				<div class="form-group stacked weapon-properties" style="margin-bottom: 0.5em">
					<label>{{localize "WUTC.WeaponProperties"}}</label>
					{{#each properties.toggleable as |data key|}}
						<label class="checkbox" data-tooltip="{{data.desc}}" data-tooltip-direction="UP">
							<input type="checkbox" name="properties.{{key}}" />
							{{data.label}}
						</label>
					{{/each}}
				</div>
			{{/if}}
			{{#if hasProperties.reminder}}
				<div class="flexcol" style="margin-bottom: 0.5em">
					<label>{{localize "WUTC.WeaponPropertiesReminders"}}</label>
					<div>
						{{#each properties.reminder as |data key|}}
							<span class="tag" data-tooltip="{{data.desc}}" data-tooltip-direction="UP">
								{{data.label}}
							</span>
							<input style="display: none;" type="checkbox" name="properties.{{key}}" checked />
						{{/each}}
					</div>
				</div>
			{{/if}}
		{{/if}}
		{{#if (eq rollType "save")}}
			{{#if reminders.length}}
				<div class="flexcol" style="margin-bottom: 0.5em">
					<label>{{localize "WUTC.ArmorWardReminder"}}</label>
					<div>
						{{#each reminders}}
							<span class="tag">
								{{name}}:
								{{reminder}}
							</span>
						{{/each}}
					</div>
				</div>
			{{/if}}
		{{/if}}
		<div class="form-group">
			<label>{{localize "WUTC.Modifiers"}}</label>
			<input type="text" name="additionalBonus" value="" placeholder="0" />
		</div>
	</fieldset>
	<footer class="flexrow">
		<button type="submit">
			<i class="fas fa-dice"></i>
			{{localize "Roll"}}
		</button>
		<button type="button" id="close">
			<i class="fas fa-times"></i>
			{{localize "Close"}}
		</button>
	</footer>
</form>